.contenedor{
    padding: 20px;
    border-radius: 10px;
}
.ps-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  border: 1px solid #000;
 border-radius: 10px;
}

.ps-th {
  background-color: #6bb6e8;
  padding: 6px;
  border-bottom: 1px solid #000;
  text-align: center;
  font-weight: 600;
}

.ps-td {
  border-bottom: 1px solid #000;
  padding: 4px;
  text-align: center;
}

.ps-status-dot {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
}

.ps-status-dot--pending {
  background-color: #d0d0d0;
}

.ps-status-dot--ok {
  background-color: #00b050;
}

.ps-status-dot--bad {
  background-color: #e00000;
}

.ps-status-dot--warning{
  background-color: rgb(231, 231, 77);
}

.ps-empty-row {
  padding: 6px;
  text-align: center;
  font-style: italic;
  background: #fafafa;
}
